$include /etc/inputrc

"\e[A":history-search-backward
"\e[B":history-search-forward

set completion-ignore-case on

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats on
set mark-directories on

# Show all instead of beeping first
set show-all-if-ambiguous off

set completion-query-items 50
