# Filename completion/expansion
set completion-ignore-case on

# Ask before displaying >50 items
# Since $WINDIR $PATH var can be in $PATH, this could list
# all window exectables in C:\WINDOWS
set completion-query-items 50

# visible-stats
# Append a mark according to the file type in a listing
set visible-stats on

set bell-style none
